 @import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto&display=swap');

$font-Roboto: 'Roboto', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;